AI_Meeting_Schedular.json
{
  "name": "AI Meeting Schedular",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        48
      ],
      "id": "27e0de69-2c83-47d5-9827-fbc0a7cf4215",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-scheduler",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -176
      ],
      "id": "993a66b3-6cce-449d-b981-5bd799dfaff2",
      "name": "chatInput",
      "webhookId": "bebf9ad4-5387-4b3a-b718-8c16dad278f6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"body\"][\"message\"]}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview:\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user’s calendar.\n\n## Calendar Management Tools:\n\nUse “Create Event with Attendee” when an event includes a participant.\nUse “Create Event” for solo events.\nUse “Get Events” to fetch calendar schedules when requested.\nUse “Delete Event” to delete an event. You must use “Get Events” first to get the ID of the event to delete.\nUse “Update Event” to update an event. You must use “Get Events” first to get the ID of the event to update.\nUse \\\"Notion Tool\\\" to get the contact information available \n\n## Rules:\n- Turn the incoming query into an action. Ignore clarification questions, just take action based on the intent you receive.\n- Also send the Event link with output\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn’t specified, assume it will be one hour.\n\n\nABSOLUTE RULE: Before ANY use of \"Create Event\" or \"Create Event with Attendee\" — even if the user says \"set reminder\", \"schedule\", \"book\", \"add meeting\", or anything similar — you MUST first call the \"Get Events\" tool with the same start and end time to check for conflicts. \n\n- If ANY event overlaps with the requested time (even reminders), do not create the new event. \n- Instead, respond with:\n\"Conflict detected: [List conflicting events with times in Asia/Karachi timezone]\"\n- Only create the event if there is no conflict or there is at least a 15-minute gap.\n- You must not skip this step under ANY circumstances.\n\nWhen scheduling or rescheduling:\n- NEVER reuse start or end times from earlier events or memory unless the user repeats them in the current request.\n- ALWAYS parse the start and end times fresh from the latest user message.\n- If the user omits the date in a follow-up request (e.g., \"Okay then set it at 11 PM\"), use the same date as the most recent scheduling attempt, but do NOT reuse the time.\n- If the user omits the duration, assume exactly one hour after the provided start time.\n- This rule applies even after a conflict is detected — you must re-parse and set the new requested time instead of defaulting to a previous time.\n\n\n\nIMPORTANT: Always display and set the format of all event times in the Asia/Karachi timezone (UTC+05:00). \nWhen using timestamps returned by calendar tools (for example \"2025-08-15T14:00:00Z\"), convert them to Asia/Karachi and format like:\n  Aug 15, 2025 at 07:00 PM (UTC+05:00)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        -176
      ],
      "id": "0d2dc2ec-0004-4cba-86e5-5c8d90e863dc",
      "name": "AI Extractor"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Session",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        48
      ],
      "id": "b61b7711-cca8-43b5-b70f-298897a42719",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "your-email@gmail.com",
          "mode": "list",
          "cachedResultName": "your-email@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        192,
        48
      ],
      "id": "6153e8cb-70f8-480b-9661-ea4c7b34214c",
      "name": "Get events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CRED_ID",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "your-email@gmail.com",
          "mode": "list",
          "cachedResultName": "your-email@gmail.com"
        },
        "start": "={{ $fromAI('Start', ``, 'string') }}",
        "end": "={{ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        48
      ],
      "id": "27060264-a6d0-4973-b396-52aa8f97b818",
      "name": "Create event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CRED_ID",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "=your-email@gmail.com",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        48
      ],
      "id": "a7482c7f-7419-4966-be18-7dcace5dc454",
      "name": "Create event with attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CRED_ID",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "your-email@gmail.com",
          "mode": "list",
          "cachedResultName": "your-email@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        576,
        48
      ],
      "id": "e47b498f-3b4d-47fc-a517-60b02bc34f54",
      "name": "Update event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CRED_ID",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "your-email@gmail.com",
          "mode": "list",
          "cachedResultName": "your-email@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        48
      ],
      "id": "00781fcd-b817-4b36-91dc-47a8098ae002",
      "name": "Delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CRED_ID",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        -176
      ],
      "id": "0bebd50a-7def-426b-ba9c-f1330b141f3c",
      "name": "Discord",
      "webhookId": "8777cccf-e919-40db-8cbd-4a04b24d5750",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_DISCORD_CRED_ID",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chatInput": {
      "main": [
        [
          {
            "node": "AI Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extractor": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get events": {
      "ai_tool": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create event": {
      "ai_tool": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create event with attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update event": {
      "ai_tool": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete event": {
      "ai_tool": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6d1196b5-ab1b-4e57-94c4-0c258e5773b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "MOtHRS4ivRFEJTMy",
  "tags": []
}